#wrap {
    width: 600px;
    height: 390px;
    padding: 0;
    overflow: hidden;
}
#frame {
    width: 100px;
    height: 520px;
    border: 1px solid black;
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}