/* Search Widget
   Michael Ge, 2015 */

/* Sets font type to Gotham */
@font-face {
    font-family: code;
    src: url(../fonts/Gotham-Book.otf);
}

/* Sets overall font, size, and blocks user highlighting/dragging */
.container {    
    font-family: code, sans-serif;
    width: 100%;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Text style*/
.text {
    font-family: code, sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: black;

}

.labels:hover {
    cursor: pointer;
}

.index:hover,.door:hover {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.images {
    text-align: center;
    margin-bottom: -1%;
}

.room, .door {
    position: relative;
    display: inline-block;
    text-align: center;
    z-index: 1;
}

.room {
    margin-left: 1%;
    margin-right: 1%;
}

img {
    width: 4vw;
    height: auto;
}

.handle {
    content: url("../img/door-handle.png");
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    display: block;
    width: 2vw;
    position: absolute;
    left: 2.3vw;
    top: 5.7vw;
    z-index: 2;
}

.number {
    position: relative;
    top: -5vw;
    font-size: 2vw;
    z-index: 0;
}

.index {
    position: relative;
    top: 3.3vw;
    margin: 0 auto;
    font-size: 1.6vw;
    visibility: visible;
}

#gameText {
    margin-bottom: 1%;
    font-size: 1.5vw;
    visibility: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1%;
}

li {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

.labels {
    font-size: 20px;
    margin: 0 auto;
    box-sizing: bounding-box;
}

.toggle-group { 
    transition: none; 
    -webkit-transition: none;
    -moz-transition: none;
}

.button {
    display: inline;
    text-align: center;
}

#labelDiv, #oDiv, #sortDiv {
    text-align: center;
}

#labelDiv2, #oDiv2, #sortDiv2 {
    width: 20%;
}

#playButton {
    margin-bottom: 1%;
}

#oDiv .toggle-off.active {
    box-shadow: none;
    color: white;
    background-color: #428bca;
}

#oDiv .toggle-off.active:hover {
    background-color: #1170ab;
}

.importantRule { 
    cursor: not-allowed !important; 
    cursor: -moz-not-allowed !important; 
    cursor: -webkit-not-allowed !important;
}