/* Binary Bulbs Widget
   Michael Ge, 2015 */

/* Resets css values */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Custom styling */

/* Sets font type to Gotham */
@font-face {
    font-family: code;
    src: url(../fonts/Gotham-Book.otf);
}

/* Sets overall font, size, and blocks user highlighting/dragging */
.container {    
    font-family: code, sans-serif;
    width: 100%;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    image-rendering: auto;
}

/*Text style*/
.text {
    font-family: code, sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;

}

/* Container for all bulbs and labels */
.images {   
    position: relative;
    top: 1vw;
    text-align: center;    
}

/* Mouse hover changes shape */
#bitLabel, #gameLabel, #bulbsMode, .on:hover, .bulb:hover, .labels:hover, .ctrlButtons:hover {
    cursor: pointer;
}

/* Figure style*/
.box {
    display: inline-block;
    position: relative;
}

.labels {
    position: relative;
    margin-bottom: 1vw;
    z-index: 0;
    left: 3vw;
    width: 4vw;
    height: 2vw;
}

.bulb, .on {
    display: block;
}

.bulb {
    position: absolute;
    z-index: 0;
    opacity: 100;
    width: 90%;
}

.on {
    position: relative;
    z-index: -1;
    top: -10000px;
    width: 90%;
}

/*Decimal value style*/
#decimal {
    color: rgb(10, 10, 10);
    font-size: 6vw;
    margin-top: -0.3%;
    margin-bottom: -0.4%;
}

/*all labels style*/
figcaption {
    visibility: visible;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: 8%;
    font-size: 2vw;
}

/*Controller styles*/
#controller {
    position: relative;
    right: 0.5vw;
    text-align: center; 
    margin-bottom: 1vh;
}

/*Controller Buttons style*/
.ctrlButtons {
    width: 3vw;
    margin: 0;
    text-align: center;
}

/*Game mode's text*/
#game {
    visibility: hidden;
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
}

#settings {
    display: block;
    text-align: center;
}

/*Toggle style*/
.toggle-group {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}

#gameLabel, #bitLabel, #bulbsMode {
    position: relative;
    bottom: 10px;
    text-align: center;
}

#gameSwitch, #bitSwitch, #bulbSwitch {
    position: absolute;
    
}

/*321*/
.settings {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;
    height: auto;
    width: 100%;
    font-size: 2vw;
}

li {
    display: inline-block;
}

.button {
    height: auto;
    width: 20vw;
    text-align: center;
}

#button3 {
    margin: auto auto auto 0;
}

#button1 {
    margin: auto;
}

#button2 {
    margin: auto 0 auto auto;   
}

#gameLabel {
    overflow: visible;
    white-space: nowrap;
}

/*random number style*/
#changeNum {
    font-size: 2vw;
    visibility: hidden;
}

.modal-content {
    font-family: code, sans-serif;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.modal-footer {
    position: relative;
}

#footer {
    font-size: 12px;
    margin-top: 3vw;
}

.btn {
    padding-right: 10px;
}

.bootbox-input, .bootbox-input-text, .form-control {
    display: inline;
}

.form-control {
    width: 50%;
    height: 35px;
}

.btn-block {
    display: inline;
    width: 60px;
    height: 35px;
    text-align: center;
}

#gval {
    margin-right: 6px;
    margin-left: 0;
    display: inline;
}

#gok, #cancel {
    margin-left: 6px;
    margin-right: 0;
    display: inline;
}